:root {
    font-size: 16px;
    /* Variables: */
    --color-sidebar-background-color: rgba(25,146,212,255);
    --color-button-background-color: rgba(25,146,212,255);
    --color-form-background-and-project-background: rgba(226,232,240,255);
    --color-user-icon-background-color: rgba(250,204,21,255);
    --color-project-card-accent-color-start: rgba(240,180,41,255);
    --color-project-card-accent-color-end: rgba(243,201,104,255);
    --font-family: 'Roboto Flex';
}

@font-face {
    font-family: 'Roboto Flex';
    src: url(./assets/fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf) format('truetype-variations');
    font-weight: 100 1000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--font-family);
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.page-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(215px, 250px) 1fr;
    grid-template-rows: 1fr 4fr;
    background-color: grey;
}

.sidebar-container {
    grid-area: 1 / 1 / 3 / 2;
    background-color: var(--color-sidebar-background-color);
    padding: 20px;
    display: grid;
    row-gap: 50px;
    align-items: start;
    align-content: start;
    font-family: var(--font-family);
}

.logo-container {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1.75rem;
    font-weight: 500;
}

.nav-container {
    
}

.profile-link-container {
    
}

.nav-container,
.profile-link-container {
    display: grid;
    gap: 15px;
}

.nav-link-container {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 500;
}

.icon {
    height: 20px;
    width: 20px;
}

.large {
    height: 40px;
    width: 40px;
}

.sidebar-container div > p {
    color: white;
}

.header-container {
    background-color: white;
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 2fr 1fr;
}

.search-bar-container {
    grid-row: 1 / 2;
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    padding: 15px;
    align-items: center;
}

.search-bar-form {
    flex: 1;
}

.search-input {
    border-radius: 25px;
    border: none;
    height: 25px;
    width: 100%;
    background-color: var(--color-form-background-and-project-background);
}

.user-info-container {
    grid-row: 1 / 2;
    font-weight: 600;
    font-size: 1.1rem;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1.5rem;
    /* Need to fix this later. */
    /* Trying Grid Version */
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: end;
    align-items: center; */
}

.yellow-circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--color-user-icon-background-color);
}

.user-greeting-container {
    grid-row: 2 / 3;
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: start;
    align-items: center;

}

.yellow-circle-large {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--color-user-icon-background-color);
}

.greeting-container > p:first-child {
    font-weight: 500;
    font-size: 0.8rem;
}

.user-name-and-account-name {
    font-weight: 600;
    font-size: 1.25rem;
}






.buttons-container {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    padding: 20px;
    
}

button {
    background-color: var(--color-button-background-color);
    padding: 10px 30px 10px 30px;
    border: none;
    border-radius: 20px;
    color: white;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1rem;
    height: 2.5rem;
    width: 10ch;

}


.main-content-container {
    background-color: var(--color-form-background-and-project-background);
    border: 1px solid black;
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 1fr;
    padding: 20px;
    gap: 20px;
}

.projects-container {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.project-cards-container {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-content: start;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    border: 1px solid blue;
    height: 100%;
    gap: 15px;

}

.project-card {
    border: 1px solid red;
    height: 100px;
    width: 150px;
    background-color: white;
}

.project-card-actions {

}

.announcements-and-trending-sidebar-container {
    grid-row: 1 / -1;
    display: flex;
    flex-flow: column nowrap;
    gap: 25px;
}

.announcements-container {
    grid-column: 2 / 3;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    
}

.announcement-previews-container {
    border: 1px solid coral;
    padding: 20px;


}

.announcements {
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
}

hr {
    
}

.annoucement-header {
    font-size: 0.9rem;
    font-weight: 600;
}

.annoucement-teaser-text {
    font-size: 0.8rem;
    font-weight: 300;
    max-width: 50ch;
    overflow: hidden;
    text-overflow: ellipsis;
}

.trending-container {
    grid-column: 2 / 3;
    
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.trending-accounts-container {
    border: 1px solid pink;
    /* height temporary for layout visuals */
    height: 100px;
}

