:root {
    font-size: 16px;
    /* Variables: */
    --sidebar-background-color: rgb(14, 165, 233);
    --buttons-background-color: rgb(14, 165, 233);
    --font-family: 'Roboto Flex';
}

@font-face {
    font-family: 'Roboto Flex';
    src: url(./assets/fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf) format('truetype-variations');
    font-weight: 100 1000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {


}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

}

.page-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(200px, 250px) 4fr;
    grid-template-rows: 1fr 4fr;
    background-color: grey;
}

.sidebar-container {
    grid-area: 1 / 1 / 3 / 2;
    background-color: var(--sidebar-background-color);
    padding: 20px;
    display: grid;
    row-gap: 50px;
    align-items: start;
    align-content: start;
    font-family: var(--font-family);
}

.logo-container {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1.75rem;
    font-weight: 500;
}

.nav-container {
    
}

.profile-link-container {
    
}

.nav-container,
.profile-link-container {
    display: grid;
    gap: 15px;
}

.nav-link-container {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 500;
}

.icon {
    height: 20px;
    width: 20px;
}

.large {
    height: 40px;
    width: 40px;
}

.sidebar-container div > p {
    color: white;
}

.header-container {
    background-color: white;
    border: 1px solid black;
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.search-bar-container {
    border: 1px solid red;
    grid-row: 1 / 2;
}



.user-greeting-container {
    border: 1px solid yellow;
    grid-row: 1 / 2;
}

.user-greeting-container {
    border: 1px solid orange;
    grid-row: 2 / 3;
}

.buttons-container {
    border: 1px solid purple;
    grid-row: 2 / 3;
}



.main-content-container {
    background-color: lightgrey;
    border: 1px solid black;
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 1fr 200px;
    padding: 20px;
}

.projects-container {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-content: start;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    border: 1px solid blue;
    height: 100%;
    gap: 15px;

}

.project-card {
    border: 1px solid red;
    height: 100px;
    width: 150px;
    background-color: white;
}

.project-card-actions {

}

.announcements-container {
    grid-column: 2 / 3;
    border: 1px solid coral;
}

.trending-container {
    grid-column: 2 / 3;
    border: 1px solid pink;
}

